/*
    Landing page bg image
*/
body {
    background-image: url('../images/background.jpeg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

 /*
    Card same witdh height
 */
.card {
    height: 100%;
}
.card-img-top {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*
    Pop Up Animation
*/
.card {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.5s ease-out;
}

.card.show {
    opacity: 1;
    transform: translateY(0);
}


.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}